[2016-06-21 15:51] githubteacher opened #2 "Please comment here to be added as a collaborator!"
There is a script running in the background that will automatically add you as a collaborator when you comment.

This way, you will have special access for activities in this course.

If you're interested, you can find the script [here](https://github.com/github/training-utils). It's open source! 🎉

[2016-06-21 16:02] githubteacher opened #3 "Post here if you CAN NOT hear me."
Post as a comment in this issue.

You can also join our [Gitter chat room](https://gitter.im/githubteacher/everyone-june-2016).

[2016-06-21 16:03] ssd008 commented on #3
I can't hear you!

[2016-06-21 16:03] RQuinn00 commented on #3
I cannot hear you. Says Audio not connected.

[2016-06-21 16:04] hectorsector commented on #3
@ssd008 and @RQuinn00 GoToWebinar allows you to use your phone or your computer, can you try toggling that feature?

[2016-06-21 16:04] GMartinez-Sisti commented on #2
Hi

[2016-06-21 16:05] hectorsector commented on #3
http://support.citrixonline.com/en_US/Meeting/help_files/G2M040004#Switch

[2016-06-21 16:07] dany-phantom commented on #2
Heya :dancer:

[2016-06-21 16:07] jleclerc-processia commented on #2
thanks

[2016-06-21 16:07] doppeldimmykumont commented on #2
Hello! Hello! 👋

[2016-06-21 16:07] PepMorales commented on #2
Hi

[2016-06-21 16:07] tstone92 commented on #2
hey hey!

[2016-06-21 16:07] robb1891 commented on #2
Hi!

[2016-06-21 16:07] matteocellucci commented on #2
Hello 🍶

[2016-06-21 16:07] sureshpvja commented on #2
Hi

[2016-06-21 16:08] mark-gonzalez commented on #2
Hello there

[2016-06-21 16:08] reedal commented on #2
hello

[2016-06-21 16:08] garycentric commented on #2
Hello from Seattle.

[2016-06-21 16:08] JimRoyal commented on #2
Nice to see Macs used in a dev environment.

[2016-06-21 16:08] alexpribm commented on #2
Hi there :)

[2016-06-21 16:08] WilliamRClark commented on #2
You can trust me!  I'm not like the others.

[2016-06-21 16:08] Redfire2001 commented on #2
Cheers :beer:

[2016-06-21 16:08] David-Gehart commented on #2
Hello

[2016-06-21 16:08] smitley commented on #2
Hello

[2016-06-21 16:08] nimmagadda19 opened #4 "not able to access"
test test

[2016-06-21 16:08] FrieseWoudloper commented on #2
Hi

[2016-06-21 16:08] cobrien-dev commented on #2
test comment, please ignore

[2016-06-21 16:08] sathya-ghub commented on #2
Hello

[2016-06-21 16:08] chitch commented on #2
Hi, please add me as a collaborator

[2016-06-21 16:08] smithmmf commented on #2
Hello folks

[2016-06-21 16:08] ghost commented on #2
Hi

[2016-06-21 16:08] MrTimms commented on #2
Hi

[2016-06-21 16:08] ssd008 commented on #2
Hi

[2016-06-21 16:08] guramipal commented on #2
Hello

[2016-06-21 16:08] boppana commented on #2
Hi

[2016-06-21 16:08] belcomps commented on #2
Hello

[2016-06-21 16:08] jdavis1998 commented on #2
Hello

[2016-06-21 16:08] wintercl133 opened #5 "hi there. this is interesting"

[2016-06-21 16:08] swong888 commented on #2
Hello

[2016-06-21 16:08] GaurangSinghal commented on #2
hello

[2016-06-21 16:08] sproutsibm commented on #2
Hi

[2016-06-21 16:08] igalvan commented on #2
hi

[2016-06-21 16:08] mlevine2000 commented on #2
Hello

[2016-06-21 16:08] pgrech98 commented on #2
Hello

[2016-06-21 16:08] mcscript2 commented on #2
Good Morning

[2016-06-21 16:08] kathrynpwells commented on #2
Hi! Carlsbad here :+1:

[2016-06-21 16:08] pbeaudry-processia commented on #2
hello

[2016-06-21 16:08] trapxrist commented on #2
hello

[2016-06-21 16:08] jleclerc-processia commented on #2
is it recorded ?

[2016-06-21 16:08] vvpriya commented on #2
Good Morning!

[2016-06-21 16:08] miltatibm commented on #2
Hello Thank you for doing this webinar!!

[2016-06-21 16:08] n0rbs commented on #2
- hello :)

[2016-06-21 16:08] HollyMJones commented on #2
hello hello! :+1:

[2016-06-21 16:08] fuixx217 commented on #2
hey!

[2016-06-21 16:08] vvadl-Belfast commented on #2
Hi

[2016-06-21 16:08] FerminOcon commented on #2
hello

[2016-06-21 16:08] llavelanet opened #6 "Hi"

[2016-06-21 16:08] brendenbattle opened #7 "Hi, I would like to join."

[2016-06-21 16:08] Framme commented on #2
Hi from Mexico!

[2016-06-21 16:08] ssheru commented on #2
Hi

[2016-06-21 16:08] mtnstim commented on #2
hi

[2016-06-21 16:08] ghost commented on #2
hello

[2016-06-21 16:08] cswartzentruber commented on #2
hello

[2016-06-21 16:09] scathaig commented on #2
hello world!

[2016-06-21 16:09] chuckp01 commented on #2
Hello !

[2016-06-21 16:09] Govin-lala commented on #2
HI

[2016-06-21 16:09] charglen commented on #2
hello from DC

[2016-06-21 16:09] ajith633 opened #8 "unable to see the same number of issues as instructor"

[2016-06-21 16:09] pritish-devurkar commented on #2
Hello from Boston!

[2016-06-21 16:09] dbriand commented on #2
Hey

[2016-06-21 16:09] mcscript2 commented on #2
hi

[2016-06-21 16:09] pgrech98 commented on #2
From RBC

[2016-06-21 16:09] UzemaJeena commented on #2
Hello from Montreal!

[2016-06-21 16:09] smanthena commented on #2
Hi from Sangeeta

[2016-06-21 16:09] nimmagadda19 commented on #2
hello

[2016-06-21 16:09] jerryguti opened #9 "Hello from Texas"

[2016-06-21 16:09] RameshKatkam commented on #2
Hello

[2016-06-21 16:09] vvadl-Belfast commented on #2
Hellow

[2016-06-21 16:09] ryanjsmith1980 commented on #2
Hey

[2016-06-21 16:09] mccue opened #10 "Hi"

[2016-06-21 16:09] ajith633 commented on #2
hello

[2016-06-21 16:09] RuchR commented on #2
hi

[2016-06-21 16:09] #8 closed, assigned to nobody

[2016-06-21 16:09] ajith633 commented on #8
Nevermind, figured out

[2016-06-21 16:09] pablomt commented on #2
hi

[2016-06-21 16:10] joebaile commented on #2
Hello

[2016-06-21 16:10] ghost commented on #2
hi

[2016-06-21 16:10] ghost commented on #2
hello from Guadalajara, México,  please add me as collaborator

[2016-06-21 16:10] dawncarpenter commented on #2
hi

[2016-06-21 16:10] jdavis1998 commented on #2
collab

[2016-06-21 16:10] calvingerus commented on #2
Hello lets collaborate

[2016-06-21 16:10] brendenbattle commented on #2
collab please

[2016-06-21 16:10] chanlon27 commented on #2
Hi

[2016-06-21 16:10] jleclerc-processia opened #11 "How to get the recording of the training ?"

[2016-06-21 16:10] dany-phantom opened #12 "Sup"
@githubteacher #10 #7

[2016-06-21 16:10] wintercl133 opened #13 "hi"

[2016-06-21 16:10] ghost opened #14 "Github class"
Hi from the UK

[2016-06-21 16:11] sdwalker7 opened #15 "hello"

[2016-06-21 16:11] jerryguti commented on #9
how to create a collaborator again please.

[2016-06-21 16:11] #9 closed, assigned to nobody

[2016-06-21 16:11] atroe commented on #2
hello world

[2016-06-21 16:11] ghost commented on #14
Joining Github class

[2016-06-21 16:11] benoraj commented on #2
Hello.

[2016-06-21 16:11] githubteacher commented on #2
:tada: @GMartinez-Sisti, @dmahmalat, @jleclerc-processia, @doppelDimmykumont, @PepMorales, @tstone92, @robb1891, @matteocellucci, @suresh3192, @mark-gonzalez, @deereflow, @beneluxboy, @JimRoyal, @alexpribm, @WilliamRClark, @Redfire2001, @David-Gehart, @master-smit, @FrieseWoudloper, @cobrien-dev, @sathya-ghub, @chitch, @smithmmf, @SanthoshSubramaniam, @MrTimms, @ssd008, @guramipal, @boppana, @belc

[2016-06-21 16:11] wintercl133 commented on #2
hi

[2016-06-21 16:11] tslenahan commented on #2
Hello

[2016-06-21 16:11] gitalinoe commented on #2
Hi there

[2016-06-21 16:12] mgatgit commented on #2
Hi

[2016-06-21 16:12] Joezer commented on #2
howdy

[2016-06-21 16:12] brendenbattle commented on #2
hi guys, what's the link to chat?

[2016-06-21 16:12] jaitawatkuldeep commented on #2
hi

[2016-06-21 16:13] cschlallstate commented on #2
hi

[2016-06-21 16:13] githubteacher commented on #2
:tada: @atroe, @benoraj, @wintercl133, @tslenahan, @gitalinoe, @mgatgit, @Joezer, and @jaitawatkuldeep are now  repository collaborators. :balloon:

[2016-06-21 16:14] smanthena commented on #2
hi

[2016-06-21 16:14] Eli-Hayes commented on #2
Hi

[2016-06-21 16:14] octaviomagana commented on #2
Hello

[2016-06-21 16:15] wintercl133 commented on #3
just lost your audio feed.  Other audio links not related are working

[2016-06-21 16:15] githubteacher commented on #2
@halfaro1 What do you think?

[2016-06-21 16:15] githubteacher commented on #2
:tada: @cschlallstate, @Eli-Hayes, and @octaviomagana are now  repository collaborators. :balloon:

[2016-06-21 16:15] hectorsector commented on #2
@githubteacher nooooo!

[2016-06-21 16:15] Ashok-Rodricks commented on #2
Hi

[2016-06-21 16:15] jackief commented on #2
comment

[2016-06-21 16:15] Apple-K commented on #2
Hi

[2016-06-21 16:16] wintercl133 commented on #3
please help - otherwise I don't know what's going on.  I have video not audio.  Cut out unexpectedly

[2016-06-21 16:16] KevinPMason commented on #2
Comment

[2016-06-21 16:16] githubteacher commented on #2
:tada: @halfaro1, @Ashok-Rodricks, @jackief, @Apple-K, and @KevinPMason are now  repository collaborators. :balloon:

[2016-06-21 16:17] ghost commented on #2
HI finally worked out what to do!!

[2016-06-21 16:17] githubteacher commented on #2
:tada: @Mawer is now a repository collaborator. :balloon:

[2016-06-21 16:18] #5 closed, assigned to nobody

[2016-06-21 16:18] #6 closed, assigned to nobody

[2016-06-21 16:18] #7 closed, assigned to nobody

[2016-06-21 16:18] #10 closed, assigned to nobody

[2016-06-21 16:18] #12 closed, assigned to nobody

[2016-06-21 16:18] #13 closed, assigned to nobody

[2016-06-21 16:18] #14 closed, assigned to nobody

[2016-06-21 16:18] #15 closed, assigned to nobody

[2016-06-21 16:18] emirj opened #16 "hello"

[2016-06-21 16:18] hectorsector commented on #11
You'll be emailed a recording. If you have any more questions, please join our [Gitter chat room](https://gitter.im/githubteacher/everyone-june-2016).

[2016-06-21 16:18] #11 closed, assigned to nobody

[2016-06-21 16:18] #16 closed, assigned to nobody

[2016-06-21 16:19] wintercl133 commented on #3
works now:)

[2016-06-21 16:19] hectorsector commented on #4
Are you unable to listen to the webinar? If so, please leave a comment in Issue #3

[2016-06-21 16:19] #4 closed, assigned to nobody

[2016-06-21 16:19] sukhatri opened #17 "test from sunij"

[2016-06-21 16:20] hectorsector commented on #3
@wintercl133 if you're able to join our Gitter chat it may be easier to get realtime help: https://gitter.im/githubteacher/everyone-june-2016

[2016-06-21 16:20] sukhatri commented on #17
This is test

[2016-06-21 16:20] emirj commented on #2
hello

[2016-06-21 16:20] joebaile opened #18 "jbbinrtp Track progress on GitHub flow"
## GitHub Flow

**Let's get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes
- [x] Merge my branch into master

[2016-06-21 16:20] GaurangSinghal commented on #2
hi

[2016-06-21 16:20] jackief opened #19 "(jackief) track issue on github flow"
- [x] make a branch
- [x] commit changes on my branch
- [x] open a pull request
- [x] collaborate and make more changes
- [ ] merge my branch

@smithmmf :pizza:

[2016-06-21 16:20] dawncarpenter opened #20 "dawncarpenter Track progress on Github flow"
## My Github flow:

**Let's get started**
- [x] Make a branch
- [x] commit changes
- [x] open a pull request
- [x] collaborate
- [x] merge

[2016-06-21 16:20] vvpriya commented on #3
your voice is breaking :(

[2016-06-21 16:21] hectorsector commented on #17
It works! If you're trying to gain collaborator access please comment on issue #2

[2016-06-21 16:21] #17 closed, assigned to nobody

[2016-06-21 16:21] Govin-lala opened #21 "(govin) New test issue for training"

[2016-06-21 16:21] smanthena opened #22 "(smanthena) githubteacher Track progress on GitHub flow"

[2016-06-21 16:21] githubteacher commented on #2
:tada: @emirj is now a repository collaborator. :balloon:

[2016-06-21 16:21] KevinPMason opened #23 "kevinpmason Track progress on GitHub flow"
## My GitHub Flow:
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [x] Merge my branch into master branch

:ok:

[2016-06-21 16:21] hectorsector commented on #3
@vvpriya I can hear Briana OK -- you may want to switch to using phone instead of computer by following the instructions [here](http://support.citrixonline.com/en_US/Meeting/help_files/G2M040004#Switch)

You can also join us in our Gitter chat room for realtime help: https://gitter.im/githubteacher/everyone-june-2016

[2016-06-21 16:22] smithmmf opened #24 "smithmmf track progress on github flow"

[2016-06-21 16:22] Bhuwi opened #25 "Issue"
Hi..Your voice is breaking.

[2016-06-21 16:23] cswartzentruber opened #26 "cswartzentruber Track Progress on github flow"
My GitHub Flow:
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes
- [x] Merge my branch into master

:+1:

[2016-06-21 16:24] smanthena commented on #22
## My GitHub Flow:

**Let's get started!**

-[] Make a branch
-[] Commit changes on my branch
-[] Open a pull request
-[] Collaborate and make more changes (commits)
-[] Merge my branch into master branch

@mlevine2000 What do you think?

[2016-06-21 16:24] kathrynpwells opened #27 "kathrynpwells Track progress on GitHub flow"
## My GitHub Flow:

**Let's get started!**
- [x]  Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [ ] Collaborate and make more changes (commits)
- [ ] Merge my branch into master branch

:8ball: :tada: @n0rbs Hi! :+1:

[2016-06-21 16:24] dany-phantom opened #28 "dmahmalat Track progress on GitHub flow"
## My Flow :dancer:

**YO!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collab
- [x] Merge branch to master

@UzemaJeena :dart: :point_up: :balloon: :soccer:

[2016-06-21 16:24] ssd008 opened #29 "ssd008 Track progress on GitHub flow"
## My GitHub Flow:

**Lets get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes and commits
- [x] Merge my branch into master branch

[2016-06-21 16:24] ssheru opened #30 "ssheru Track progress on Github flow"
## My git-hub flow:

make  a branch
commit change on my branch
open a pull request
collaborate and make more changes(commits)
merge my branch in to master branch

[2016-06-21 16:24] githubteacher opened #31 "(USERNAME) githubteacher Track progress on GitHub flow"
## My GitHub Flow:

**Let's get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [x] Merge my branch into master branch

🎉 🍕 👍 @halfaro1 What do you think?

[2016-06-21 16:24] mccue opened #32 "mccue Track progress on GitHub flow"
## My GitHub Flow:

Let's get started
- [ ] Make a branch
- [ ] Commit changes on my branch
- [ ] Open a pull request
- [ ] Collaborate and make more changes (commits)
- [ ] Merge my branch into master branch

@githubteacher Thanks for your help!

[2016-06-21 16:24] doppeldimmykumont opened #33 "DoppelDimmyKumont- Track Progress on GitHub Flow"
## My GitHub Flow

**Let's get started!!!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [x] Merge my branch into the master branch

🎉 💯 👍 🍔 🍅

[2016-06-21 16:24] MrTimms opened #34 "MrTimms GitHub flow"
## GitHub FLow

**Starting**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [x] Merge my branch into master branch

[2016-06-21 16:24] jdavis1998 opened #35 "jdavis1998 Track progress on GitHub flow"
## My GitHub Flow:

**Let's get started! using bold font**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more chagnes (commits)
- [x] Merge my branch into master branch

@n0rbs  What do you think? :100:

[2016-06-21 16:24] JimRoyal opened #36 "JimRoyal Track progress on GitHub flow"
# My GitHub Flow

**Getting Started**
- [x] Make a branch
- [x] Commit changes on my branch
- [x]  Open a Pull Request
- [x] Collaborate and make more changes (i.e., commits)
- [x] Merge my branch into master branch

❤️ @UzemaJeena — still awake?

[2016-06-21 16:24] brendenbattle opened #37 "brendenbattle track progress on GitHub flow"
## My Github Flow:

**Let's get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [ ] Merge my branch into master branch
  ##

[2016-06-21 16:24] tstone92 opened #38 "tstone92 Track Progress on GitHub Flow"
## My GitHub Flow:
- [x] Make a branch
- [x] Commit changes on my branch
- [ ] Open a pull request
- [ ] Collaborate and make more changes (commits)
- [ ] Merge my branch into master branch

👍  🎱  🍕

[2016-06-21 16:24] sproutsibm opened #39 "sproutsibm Track progress on GitHub flow exercise"
## My GitHub Flow:

**Let's get started!**
- [ ] Make a branch
- [ ] Commit changes on my branch
- [ ] Open a pull request
- [ ] Collaborate and make more changes (commits)
- [ ] Merge my branch into master branch

[2016-06-21 16:24] mark-gonzalez opened #40 "mark-gonzalez Track progress on GitHub flow"
# My GitHub Flow:

 ***_Let's get started!**_*
- [x] Make a branch
- [x] Commit changes on my branch
- [ ] Open a pull request
- [ ] Collaborate and make more changes (commits)
- [ ] Merge my branch into master

[2016-06-21 16:24] cobrien-dev opened #41 "(cobrien-dev) Track progress"
## My GitHub Flow
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes
- [ ] Merge my branch into master

@guramipal

[2016-06-21 16:24] ghost opened #42 "moyomendoza Track progress on github flow"
## Github flow:
- [x] make a branch
- [x] Commit changes on my branch
- [x] open a pull request
- [x] collaborate and make more changes (commits)
- [x] merge my branch into master branch
- [ ] :beer: :+1:  :beetle:

@Framme @octaviomagana hello there

[2016-06-21 16:24] sukhatri opened #43 "sukhatri githubteacher track progress on GitHub flow"
## My GitHUB Flow

*\* Lets get started!**
- [ ] Make a branch
- [ ] Commit changes on my branch
- [ ]

:pizza:

[2016-06-21 16:24] jerryguti opened #44 "(Jerryguti) Jerry Gutierrez - track progress on github flow"
# My GitHub Flow:

***_Let's get started!**_*
- [x] Make a Branch
- [x] Commmit changes on my branch
- [x] Open a pull request
- [ ] Collaborate and make more chnages (commits)
- [ ] Merge my branch into master branch

[2016-06-21 16:24] RameshKatkam opened #45 "RameshKatkam githubteacher Track progress on GitHub Flow"
## My GitHub Flow:

**Hello! Lets do this**
- [x] Make a branch
- [x] Commit changes on my Branch
- [x] Open a pull request
- [ ] Collaborate and make more changes ( commits )
- [ ] Merge my branch into master branch

@githubteacher  How is it?

[2016-06-21 16:24] tslenahan opened #46 "tslenahan Track priogress on GitHub Flow"
## My GitHub flow:

*\* Let's get started!**
- [] Make a branch
- [] Comoitt changes on my branch
- [] Open a pull request
- [] Collaberate and make more changes (comitts)
- [] Merge my branch inot master branch

:pig: :+1:

[2016-06-21 16:24] guramipal opened #47 "guramipal Track progress on GitHub flow"
## My GitHub Flow:

*\* Let's get started**
- [x] Make a branch
- [x] Commit  changes to my branch
- [x] Open Pull request
- [x] Collaborate and make more changes (commits)
- [ ] Merge my branch into maste

[2016-06-21 16:24] dbriand opened #48 "dbriand Track progress on GitHub flow"
## My GitHub Flow:

**Let's get started**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [x] Merge my branch into master

[2016-06-21 16:24] calvingerus opened #49 "calvingerus Track progress on GitHub flow"
## My GitHub Flow:

**Les't get started!**
- [x] Make a Branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [ ] Merge my branch into master branch

🔨 🎯

[2016-06-21 16:24] mtnstim opened #50 "mtnstim Tracking Issue for GitHub"
## My GitHub Flow:

**Let's get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [ ] Collaborate and make more changes (commits)
- [ ] Merge my branch into master branch

[2016-06-21 16:24] GaurangSinghal opened #51 "Gaurang Track Progress"
## My Github Flow :

**Here we begin**

[2016-06-21 16:24] marinafurman opened #52 "marina.furman githubteacher Track progress on GitHuib Flow"
## My GitHub Flow
- [x] - Make a branch
- [x] - Commit changes
- [x] - Open a pull request
- [x] - Collaborate
- [ ] - Merge

[2016-06-21 16:24] pritish-devurkar opened #53 "findpritz Track progress on GitHub Flow"
## My GitHub Flow:

**Lets get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes(commits)
- [ ] Merge my branch into the master branch

:+1: :pizza: :+1: :smile:

[2016-06-21 16:24] David-Gehart opened #54 "David-Gehart Track progress on GitHub flow"
## My GitHub Flow:

**Let's get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [ ] Merge my branch into master branch

🌞

[2016-06-21 16:24] ghost opened #55 "Mawer - Track Progress on Github Flow"
## My Github Flow:
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make further changes and commits
- [ ] Merge my branch into master branch

[2016-06-21 16:24] pbeaudry-processia opened #56 "(pbeaudry-processia) githubteacher Track progress on GitHub Flow"
## My GitHub Flow:

**Let's get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [x] Merge my branch into master branch

:+1: @halfaro1 What do you think?

[2016-06-21 16:24] Ashok-Rodricks opened #57 "Ashok-Rodricks Track progress"
## My GitHub Flow:

*\* get started *8
- [ ] Make a branch
- [ ] Commit changes
- [ ] open pull request
- [ ] Collaborate
  (commits)- [ ] Merge my branch

[2016-06-21 16:24] reedal opened #58 "deereflow Track progress on GitHub flow"
## My GitHub Flow:

**Let's get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [x] Merge my branch in master branch

:wine_glass:

[2016-06-21 16:24] emirj opened #59 "(USERNAME) emirj Track progress on Github flow"
## My GitHub Flow:

**Let's get started!**
- [ ] Make a branch
- [ ] Commit changes on my branch
- [ ] Open a pull request
- [ ] Collaborate and make more changes (commits)
- [ ] Merge my branch into master branch

[2016-06-21 16:24] garycentric opened #60 "beneluxboy - Track progress on GitHub flow"
## My GitHub Flow

**Let's get started**
- [x] Make a branch
- [x] Commit changes on my branch
- [ ] Open a pull request
- [ ] Collaborate and make more changes (commits)
- [ ] Merge my branch into master branch

[2016-06-21 16:24] belcomps opened #61 "belcomps track progress on gitHub flow"
# My github flow:
- [x] make a branch
- [x] commit changes on my branch
- [x] open a pull request
- [ ] collaborate and make more changes (commits)
- [ ] merge my branch in the master branch

:8ball: :100:

[2016-06-21 16:24] stlpatd opened #62 "stlpatd Track progress on GitHub flow"
## My GitHub Flow:

**Let's get started!**

-[]Make a branch
-[]Commit changes on my branch
-[]Open a pull request
-[]Collaborate and make more changes (commits)
-[]Merge my branch into master branch

[2016-06-21 16:24] FerminOcon opened #63 "(FerminOcon) Track Progress on GitHub Flow"
My GitHub Flow:

**Let's get started**
- [x]  Make a branch
- [x]  Commit changes on my branch
- [x] Open a Pull Request
- [x]  Collaborate and make more changes (commits)
- [x] Merge my branch into master branch

[2016-06-21 16:24] smitley opened #64 "master-smit 99 Problems and GitHub ain't one"
## My GitHub Flow:

*\* Let's get Started!!!**
- [x] Make a branch
- [x] Commit Changes on my branch
- [ ] Open a pull request
- [ ] Collaborate and make (commits)
- [ ] Merge my branch into master branch

:100: :+1:

[2016-06-21 16:24] PepMorales opened #65 "PepMorales Track progress on GitHub flow"
# My GitHub Flow:

**Let's get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [ ] Collaborate and make more changes (commits)
- [ ] Merge my branch into master branch

@Ashok-Rodricks @halfaro1 What do you think?

[2016-06-21 16:24] WilliamRClark opened #66 "WilliamRClark - test issue to work on"
## My Github Flow:

**Make it go!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [ ] Merge into master branch - there can be only one

:8ball:

[2016-06-21 16:25] robb1891 opened #67 "ROBB1891 Track Progress"
## My GitHUb Flow:

**Let's get started**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [x] Merge my branch into master branch

@githubteacher

[2016-06-21 16:25] sureshpvja opened #68 "suresh Track progress on GitHub flow"
### My GitHub Flow:

**Let's get Started**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open pull request
- [x] Collaborate and make more changes(commits)
- [x] Merge my branch into master

[2016-06-21 16:25] swong888 opened #69 "sawong888 Track progress on GitHub Flow"
# # My GitHub Flow:

**Let's get started**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [x] Merge my branch into master branch

@githubteacher  What do you think?

[2016-06-21 16:25] sathya-ghub opened #70 "sathya-ghub Track progress on Github Flow"
## My Github Flow

**I'm getting started !**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes
- [x] Merge my branch into master

[2016-06-21 16:25] dthamilton opened #71 "dthamilton Track progress on GitHub flow"
## My GitHub Flow:

**Let's get started!**
- [ ] make a branch
- [ ] Commit changes on my branch
- [ ] Open a pull request
- [ ] Collaborate and make more changes (commits)
- [ ] Merge my branch into master branch

[2016-06-21 16:25] Redfire2001 opened #72 "Redfire2001 Track progress on GitHub flow"
## My GitHub Flow:

**Let's get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [ ] Merge my branch into master branch

:smirk_cat: @WilliamRClark

[2016-06-21 16:25] igalvan opened #73 "igalvan track progress on GitHub flow"
## My GitHUb Flow:

**Let's get started**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [x] Merge my branch into master branch

[2016-06-21 16:25] johnborroughs opened #74 "JohnBorroughs Track the class on git hub"
## GitHub  flow

*\* Lets get Started**
- [ ]  make a branch
- [ ] Commit changes
- [ ] Pull
- [ ]

[2016-06-21 16:25] Govin-lala commented on #21
## My Github flow:

**Let's Get started**
- [ ] Make Branch

[2016-06-21 16:25] GMartinez-Sisti opened #75 "Gmartinez-Sisti Track Progress Flow"
# My GitHub Flow:
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes
- [x] Merge my branch into master

[2016-06-21 16:25] scathaig opened #76 "scathaig - track progress on github flow"
My GitHub Flow:
- [ ] Make a branch
- [ ] Commit changes on my branch
- [ ] Open a pull request
- [ ] Collaborate and make more changes
- [ ] Merge my branch into master

[2016-06-21 16:25] alexpribm opened #77 "alexpribm - githubteacher Track progress on GitHub flow"
## My Github Flow:

*\* Let's get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [x] Merge my branch into master branch

[2016-06-21 16:25] chanlon27 opened #78 "chanlon27 Track progress on GitHub flow"
My GitHub Flow:
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes
- [ ] Merge my branch into master

[2016-06-21 16:25] matteocellucci opened #79 "matteocellucci Track progress on GitHub flow"
## My GitHub Flow:

**Let's get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes
- [x] Merge my branch into master branch

@githubteacher needs to know what do you think @halfaro1 😆

[2016-06-21 16:25] ryanjsmith1980 opened #80 "ryanjsmith1980 Track progress on GitHub flow"
## My GitHub Flow:

*\* Let's get started!**
- [ ] Make a branch
  - [ ] Commit changes on my branch
  - [ ] Open a pull request
  - [ ] Collaborate and make more changes (commits)
  - [ ] Merge my branch into master branch

[2016-06-21 16:25] Framme opened #81 "Framme Track progress on GitHub flow"
## My GitHub Flow:

**Let's get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [x] Merge my branch into master branch

:pig: :pizza: @moyomendoza Pizza for the pigs buddy!

[2016-06-21 16:25] FrieseWoudloper opened #82 "Friesewoudloper Track progress on GitHub flow"
## My GitHub Flow:
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes
- [ ] Merge my branch into master

[2016-06-21 16:25] johnborroughs commented on #74
Github class

[2016-06-21 16:26] erinbenoit opened #83 "erinbenoit Track progress on github flow"

[2016-06-21 16:26] smithmmf commented on #24
## My GitHub Flow:

**Let's get started!**
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [ ] Merge my branch into master.

make sure to mention my friends! @jackief and @chuckp01

[2016-06-21 16:26] charglen opened #84 "charglen_track progress on github flow"
# # charglen's github flow

My GitHub Flow:
- [ ] Make a branch
- [ ] Commit changes on my branch
- [ ] Open a pull request
- [ ] Collaborate and make more changes
- [ ] Merge my branch into master

[2016-06-21 16:26] gopalthannir opened #85 "gopalthannir Track progress on GitHub flow"
## MyGitHub Flow:

**Let's get started!**
- [] Make a branch
- [] Commit changes on my branch
- [] open a pull request
- [] Collaborate and make more changes (commits)
- [] Merge my branch into master branch

[2016-06-21 16:26] mcscript2 opened #86 "Test Issue"
Test Issue

[2016-06-21 16:26] ghost opened #87 "San GitHub flow"
Getting Started
- [x]  Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [ ] Collaborate and make more changes (commits)
- [ ] Merge my branch into master branch
  :+1:

[2016-06-21 16:27] fgratuito opened #88 "fgratuito - track progress on github flow"
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [ ] Collaborate and make more changes
- [ ] Merge my branch into master

[2016-06-21 16:27] tzacj opened #89 "tzacj track gihub progress github progress"
Testing guthub
**starting!**
- [ ]  Make changes

[2016-06-21 16:27] pgrech98 opened #90 "try pgrech"
**fdsfdsds**

[2016-06-21 16:28] UzemaJeena opened #91 "UzemaJeena Track Progress on GitHub Flow"
## My GitHub Flow:

**Let's get started!**

My GitHub Flow:
- [ ] Make a branch
- [ ] Commit changes on my branch
- [ ] Open a pull request
- [ ] Collaborate and make more changes
- [ ] Merge my branch into master

[2016-06-21 16:28] sdwalker7 opened #92 "sdwalker7 track progress on GitHub"

[2016-06-21 16:28] n0rbs opened #93 "n0rbs githubteacher track issue in Github Flow"
My GitHub Flow:
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes
- [x] Merge my branch into master

[2016-06-21 16:28] Eli-Hayes opened #94 "Eli-Hayes Track progress on GitHub flow"
## My GitHub Flow:

**Let's get started!**
- [ ] Make a branch
- [ ] Commit changes on my branch
- [ ] Open a pull request
- [ ] Collaborate and make more changes
- [ ] Merge my branch into master

[2016-06-21 16:29] gitalinoe opened #95 "gitalinoe githubteacher track progress in github flow"
# charglen's github flow

My GitHub Flow:
    [ ] Make a branch
    [ ] Commit changes on my branch
    [ ] Open a pull request
    [ ] Collaborate and make more changes
    [ ] Merge my branch into master

[2016-06-21 16:29] vvpriya opened #96 "Priya Track Progress Flow"
My GitHub Flow:
 Make a `branch
- [ ]  Commit changes on my branch
- [ ]  Open a pull request
- [ ]  Collaborate and make more changes
- [ ]  Merge my branch into master

[2016-06-21 16:29] marinafurman commented on #2
Hello I am Marina

[2016-06-21 16:30] ArthySenthil opened #97 "ArthySenthil Track progress on GitHub flow"
# My GitHub Flow

**Let's get started**
- [ ] Make a branch
- [ ] Commit changes on my branch
- [ ] Open a pull request
- [ ] Collaborate and make more changes
- [ ] Merge my branch into master

:+1:

[2016-06-21 16:30] AbhinitMallick opened #98 "couch_potato issue tracking"
# this is my first issue

**Hello this is my first reporting**
- [ create the git init]
- [ create a repository ]

[2016-06-21 16:30] chuckp01 opened #99 "Track Git Everyone progress"
# My GIT
- [ ] Task List 1
- [ ] Task List 2

@smithmmf - Did you get this ? :+1:

[2016-06-21 16:31] githubteacher commented on #2
:tada: @marinafurman is now a repository collaborator. :balloon:

[2016-06-21 16:31] JimRoyal commented on #91
ook ook ook

[2016-06-21 16:31] pablomt opened #100 "(pablomt) githubteacher Track progress on GitHub flow"
## My GitHub Flow:

Let's get
- [x] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes (commits)
- [x] Merge my branch into master branch

[2016-06-21 16:32] juliecassidy opened #101 "track github course"

[2016-06-21 16:35] DSallGH1 opened #102 "hi"

[2016-06-21 16:35] GMartinez-Sisti commented on #75
Mine.

[2016-06-21 16:36] ghost commented on #55
Done!

[2016-06-21 16:38] Rk2013 opened #103 "RKP2013 github trach progress on git hub"
My GitHub Flow: - [ ] Make a branch
- [x] Commit changes on my branch
- [x] Open a pull request
- [x] Collaborate and make more changes
- [x] Merge my branch into master

[2016-06-21 16:38] gitalinoe commented on #95
test

[2016-06-21 16:38] #95 closed, assigned to nobody

[2016-06-21 16:38] sarmatejas1006 commented on #2
Hello I am Tejas! Hello Everyone :smile:

[2016-06-21 16:39] githubteacher commented on #2
:tada: @sarmatejas1006 is now a repository collaborator. :balloon:

[2016-06-21 16:39] fgratuito commented on #2
hello

[2016-06-21 16:40] erinbenoit commented on #2
hi

[2016-06-21 16:40] DSallGH1 commented on #2
hi

[2016-06-21 16:40] bsmith221 commented on #2
hello

[2016-06-21 16:40] Eli-Hayes commented on #2
Hi

[2016-06-21 16:41] Rk2013 commented on #2
hi

[2016-06-21 16:41] sdwalker7 commented on #2
hello

[2016-06-21 16:41] TomBurg commented on #2
Late but still here

[2016-06-21 16:41] pgrech98 commented on #2
testing

[2016-06-21 16:41] ogrinets opened #104 "issue 2"
from ogrinets

[2016-06-21 16:41] AbhinitMallick commented on #2
hi

[2016-06-21 16:41] githubteacher commented on #2
:tada: @fgratuito, @erinbenoit, @DSallGH1, @bsmith221, @Rk2013, @sdwalker7, and @TomBurg are now  repository collaborators. :balloon:

[2016-06-21 16:41] SarahWerner commented on #2
hello

[2016-06-21 16:41] TerriLLBean commented on #2
Hello

[2016-06-21 16:41] mcscript2 commented on #2
collab

[2016-06-21 16:42] mccue commented on #2
Add me!

[2016-06-21 16:42] githubteacher commented on #2
:tada: @AbhinitMallick, @SarahWerner, @TerriLLBean, and @mccue are now  repository collaborators. :balloon:

[2016-06-21 16:42] gabbyspg commented on #2
Hi :) :

[2016-06-21 16:42] gopalthannir commented on #2
hi

[2016-06-21 16:43] Deneli commented on #2
Guess I never did this

[2016-06-21 16:43] githubteacher commented on #2
:tada: @gabbyspg, @gopalthannir, and @Deneli are now  repository collaborators. :balloon:

[2016-06-21 16:44] Joezer commented on #2
adding

[2016-06-21 16:49] atroe opened #111 "generic issue"
comment

[2016-06-21 16:52] boppana opened #176 "new issue"
Do the below
## checklist

[ ] create branch
[ ] create issue
[ ] create pull request

[2016-06-21 16:52] TerriLLBean opened #177 "TerriLLBean-new-issue"
1. Create a Branch
   2, Do something
2. Do something else

[2016-06-21 16:52] boppana commented on #176
:hand:
:+1:

[2016-06-21 16:53] dragonshiryu opened #180 "test"
**TEST**

[2016-06-21 16:55] TomBurg commented on #18
Finally I found this page

[2016-06-21 16:55] jerryguti commented on #177
Comment from jerryguti

[2016-06-21 16:56] ssheru commented on #57
@Ashok-Rodricks  bhaisaabb

[2016-06-21 16:56] jerryguti commented on #177
Terri what's up!

[2016-06-21 16:56] sukhatri commented on #2
Hello

[2016-06-21 16:57] githubteacher commented on #2
:tada: @sukhatri is now a repository collaborator. :balloon:

[2016-06-21 16:57] belcomps opened #186 "how do I access gitter?"
How do I access gitter? The link on the page doesn't work.

[2016-06-21 16:58] dragonshiryu commented on #2
yo

[2016-06-21 16:59] githubteacher commented on #2
:tada: @dragonshiryu is now a repository collaborator. :balloon:

[2016-06-21 16:59] githubteacher commented on #186
https://gitter.im/githubteacher/everyone-june-2016

[2016-06-21 17:00] ipotapov opened #187 "Unable to create new own branch"
Have problems with creating branch.
Github does not show option to "create branch" when I clicked "master" and started to type in
(see screenshot below)

![github_create_branch](https://cloud.githubusercontent.com/assets/3835860/16238821/0b87d6f8-37b0-11e6-9cbd-b573a3dff244.jpg)

[2016-06-21 17:00] vvpriya opened #188 "could you please creating branch once again? Thanks"

[2016-06-21 17:02] jerryguti commented on #2
jerryguti is commenting

[2016-06-21 17:02] mlevine2000 opened #191 "Are there any plugins for Eclipse to interact with GitHub"

[2016-06-21 17:02] TomBurg opened #192 "Will we be shown how to use Github desktop?"
@githubteacher

I am logged in with the web browser - but how does GitHub Desktop work?  Is it standalone?

[2016-06-21 17:04] githubteacher commented on #2
:tada: @jerryguti is now a repository collaborator. :balloon:

[2016-06-21 17:05] hectorsector opened #194 "Class Recaps"
Recaps for this class will be added to this issue.
- [Hour 1](https://github.com/githubteacher/everyone-june-2016/issues/194#issuecomment-227505539)
- [Hour 2](https://github.com/githubteacher/everyone-june-2016/issues/194#issuecomment-227522473)
- [Hour 3](https://github.com/githubteacher/everyone-june-2016/issues/194#issuecomment-227533766)

[2016-06-21 17:05] hectorsector commented on #194
# Hour 1

### Getting Ready for Class
- Make sure you have [GitHub Desktop](https://desktop.github.com) on your computer and a [GitHub account](https://github.com/).

### Getting Started

**Quick review of what we've covered so far:**
- Tour of Repository:
  - Code View:  Files belonging to the project
  - README.md: Description of the Repository
  - Issues: A place to have conversations and colla

[2016-06-21 17:06] jerryguti commented on #44
Weee!  Things are working now.

[2016-06-21 17:09] belcomps commented on #186
It appears that I cannot access the gitter site from my work PC that is connected to the WF VPN.
No worries tho, I am able to access from my personal PC.

[2016-06-21 17:09] #186 closed, assigned to nobody

[2016-06-21 17:10] hectorsector commented on #192
@TomBurg yes, we'll be using GitHub Desktop this hour. Stay tuned. I'm closing this issue but if you'd like to continue to chat with us you can do so in the Gitter chat room https://gitter.im/githubteacher/everyone-june-2016

[2016-06-21 17:10] #192 closed, assigned to nobody

[2016-06-21 17:11] juliecassidy commented on #104
add me please

[2016-06-21 17:11] johnborroughs commented on #192
hi

[2016-06-21 17:12] johnborroughs commented on #2
please add me

[2016-06-21 17:12] vsignore opened #196 "vsignore - My Test Issue"

[2016-06-21 17:13] githubteacher commented on #2
:tada: @johnborroughs is now a repository collaborator. :balloon:

[2016-06-21 17:13] hectorsector commented on #187
@ipotapov make sure you've commented on Issue #2 to be added as a collaborator, it's necessary to add a branch.

I'm closing this issue but feel free to continue chatting with us in the Gitter room: https://gitter.im/githubteacher/everyone-june-2016

[2016-06-21 17:13] #187 closed, assigned to nobody

[2016-06-21 17:13] meisutanto commented on #2
Hello everyone!

[2016-06-21 17:14] hectorsector commented on #191
There are a few, eGit is one in particular I know of.

I'm closing this issue but feel free to continue chatting with us in the Gitter room: https://gitter.im/githubteacher/everyone-june-2016

[2016-06-21 17:14] #191 closed, assigned to nobody

[2016-06-21 17:14] ghost opened #198 "uk places to eat"
## Uk

 ### Places to eat

Time to venture out

[2016-06-21 17:14] hectorsector commented on #188
@vvadl the class recaps may help, they can be found in #194

I'm closing this issue but feel free to continue chatting with us in the Gitter room: https://gitter.im/githubteacher/everyone-june-2016

[2016-06-21 17:14] #188 closed, assigned to nobody

[2016-06-21 17:15] githubteacher commented on #2
:tada: @meisutanto is now a repository collaborator. :balloon:

[2016-06-21 17:17] abandi1 commented on #104
hi

[2016-06-21 17:17] ipotapov commented on #2
Add comment to be able to create branch

[2016-06-21 17:18] ghost opened #201 "ni places to eat"
## Belfast
#### Places to eat

Food to enjoy!

[2016-06-21 17:19] llavelanet commented on #22
flexible

[2016-06-21 17:19] juliecassidy commented on #104
thanks

From: abandi1 [mailto:notifications@github.com]
Sent: Tuesday, June 21, 2016 6:17 PM
To: githubteacher/everyone-june-2016 everyone-june-2016@noreply.github.com
Cc: Cassidy, Julie jcas3@allstate.com; Comment comment@noreply.github.com
Subject: Re: [githubteacher/everyone-june-2016] issue 2 (#104)

hi

—
You are receiving this because you commented.
Reply to this email directly, view it on G

[2016-06-21 17:20] vsignore commented on #196
## My GitHub Flow.

*\* Let's Get Started! **
- [ ] Make a branch
- [ ] Commit changes to my branch
- [ ] Open a pull request
- [ ] Collaborate and make more changes )commits)
- [ ] Merge my branch into master branch
  :+1:

[2016-06-21 17:20] githubteacher commented on #2
:tada: @ipotapov is now a repository collaborator. :balloon:

[2016-06-21 17:20] llavelanet opened #202 "tapas bar in New York"
still looking

[2016-06-21 17:21] #23 closed, assigned to nobody

[2016-06-21 17:21] #75 closed, assigned to GMartinez-Sisti

[2016-06-21 17:23] MikeSmith7 commented on #2
Hi

[2016-06-21 17:32] #79 closed, assigned to nobody

[2016-06-21 17:33] MikeSmith7 opened #206 "Mike's Test Issue"
This is a test issue

[2016-06-21 17:33] #206 closed, assigned to nobody

[2016-06-21 17:39] llavelanet commented on #202
Local results for tapas bar in new york

http://www.bing.com/search?q=tapas+bar+in+new+york&src=IE-TopResult&FORM=IETR02&conversationid=

1

2

3

4

5

© 2016 Microsoft Corporation© 2016 HERE

Larger map

[2016-06-21 17:39] #202 closed, assigned to nobody

[2016-06-21 17:40] githubteacher commented on #2
:tada: @MikeSmith7 is now a repository collaborator. :balloon:

[2016-06-21 17:40] #68 closed, assigned to sureshpvja

[2016-06-21 17:53] chanlon27 opened #239 "A new public key was added to your account"
What do we need the public key for?

[2016-06-21 17:54] #42 closed, assigned to nobody

[2016-06-21 17:56] ghost opened #241 "moyomendoza steps to clone in GitHub Desktop"
## GitHub Desktop
#### Here are the basic steps we've covered today
- Open Github desktup
- From the browser, navigate to our repository.   click the green 'Clone' button on the right side, and select 'Open in Desktop'
- On the left hand toolbar, right click the repository and open it in our preferred text editor.

[2016-06-21 17:56] ssheru opened #242 "Steps involved din cloning the Github Desktop--ssheru"
## Github Desktop
#### Here are the basic steps we have covered today
1.  open git hub desktop
2.  from the browser ,navigate to our repo,click on green clone button on the right side and select open in the desktop
3.  make your own branch with a unique name
4.  on the left hand tool bar, right click the repo and open it in your preferred text editor
5. make some changes to your own file, then sav

[2016-06-21 17:58] githubteacher opened #244 "Steps to clone in GitHub Desktop"
## GitHub Desktop
#### Here are the basic steps we've covered today.
- Open GitHub Desktop
- From the browser, navigate to our repository. Click the green 'Clone' button on the right side, and select 'Open in Desktop'.
- Make your own branch with a unique name
- On the left hand tool bar, right click the repository and open it in your preferred text editor.
- Make some changes to your own file, th

[2016-06-21 18:02] FerminOcon commented on #63
:+1:

[2016-06-21 18:04] hectorsector commented on #194
# Hour 2

### Edit on GitHub

**How to edit a file on GitHub**
- To edit a pull request file, you use the `files changed` view and click the `edit` icon.
- Change your hometown file to add more information about what to do in your hometown.
- Once you've made changes, create a new commit on the bottom of the page.
- Make sure you commit to the correct branch

### Merging Pull Requests

**Pull requ

[2016-06-21 18:05] swong888 commented on #244
I don't think I understand the purpose of using GitHub desktop versus cloud. Can you elaborate

[2016-06-21 18:06] githubteacher commented on #244
@swong888 Great question! One of the major reasons people use GitHub Desktop is because it helps them work locally, on their own computer.

While it's true you can edit files on GitHub.com, many people prefer an IDE like Atom, Sublime, Eclipse...etc. 😄

[2016-06-21 18:07] swong888 commented on #244
Makes sense now. Thank you!

[2016-06-21 18:07] sathya-ghub commented on #244
Also some GitHub desktop clients are cool.
https://www.gitkraken.com/

[2016-06-21 18:09] hectorsector commented on #239
@chanlon27 take a look at this portion of the Gitter chat: https://gitter.im/githubteacher/everyone-june-2016?at=57697d1fc417e36c69e4d5ef

[2016-06-21 18:09] matteocellucci commented on #244
Check issue #194 for deeper recaps

[2016-06-21 18:12] ghost opened #246 "Steps to clone in Github Desktop"
Here are the basic steps we have covered today:
# Open Github Desktop
- From the browser, navigate to our repository. Click the green 'Clone' button on the right side, and select 'Open in Desktop'.
- Make your own branch with a unique name
- On the left hand tool bar, right click the repository and open it in your preferred text editor
- Make some changes to your own file, then save your file
- In

[2016-06-21 18:23] chanlon27 commented on #239
thanks 👍

[2016-06-21 18:28] #33 closed, assigned to nobody

[2016-06-21 18:37] jdavis1998 commented on #35
finished in web and client.

The client was not as easy to learn as the web.

[2016-06-21 18:37] #35 closed, assigned to jdavis1998

[2016-06-21 18:44] hectorsector commented on #194
# Hour 3

### Merging and Merge conflicts
- Once you've received a :+1:, :ship:, or :shipit: from another collaborator, you can merge your open PR.
- If you get a merge conflict, you can resolve the merge conflict on GitHub Desktop by following these steps:
  - Sync your branch.
  - Click the button near the graph that states `Update from master`, this will merge the commits that have occurred on

[2016-06-21 18:44] #26 closed, assigned to nobody

[2016-06-21 18:46] dawncarpenter commented on #20
closing issue - all tasks completed

[2016-06-21 18:46] #20 closed, assigned to nobody

[2016-06-21 18:49] #36 closed, assigned to nobody

[2016-06-21 18:55] #67 closed, assigned to robb1891

[2016-06-21 18:58] #73 closed, assigned to nobody

[2016-06-22 02:25] gitalinoe commented on #2
Hi There

[2016-06-22 02:27] gitalinoe opened #264 "Adding new test issues"
#2 Adding test issues

[2016-06-22 03:18] #31 closed, assigned to githubteacher

[2016-06-22 04:00] #49 closed, assigned to nobody

[2016-06-22 12:48] llavelanet commented on #2
Looking for the best tapas bar in New York City

[2016-06-22 19:33] #47 closed, assigned to nobody

[2016-06-22 21:18] githubteacher commented on #2
:tada: @ghost and @llavelanet are now  repository collaborators. :balloon:

[2016-06-22 21:21] brianamarie commented on #2
Hello!

[2016-06-22 21:23] hollenberry commented on #2
Mattstopsgettingsparkles

[2016-06-22 21:25] githubteacher commented on #2
:tada: @hollenberry is now a repository collaborator. :balloon:

[2016-06-23 19:12] #18 closed, assigned to joebaile

[2016-06-24 18:28] sukhatri commented on #2
Was wondering if there is demo on line?

[2016-06-25 21:03] stlpatd opened #269 "stlpatd/everyone-june-2016"
Track progress on GitHub flow

[2016-06-28 20:57] sukhatri commented on #43
@sukhatri issue #53a8440

[2016-07-07 02:48] stlpatd commented on #269
done with this

[2016-07-07 02:48] #269 closed, assigned to nobody

[2016-07-07 02:54] stlpatd commented on #2
reviewing

[2016-07-07 03:29] stlpatd commented on #62
closing

[2016-07-07 03:29] #62 closed, assigned to nobody

[2016-07-23 14:16] klrivers commented on #2
please add me

[2016-10-28 00:18] #2 closed, assigned to githubteacher, n0rbs

[2017-10-06 17:32] #38 closed, assigned to tstone92

[2022-02-01 16:36] #28 closed, assigned to dmahmalat